:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: #2F2CE9;
    --Light-slate-blue: #6943FF;
    --Light-royal-blue: #2521C9;
    --Violet-blue: #4D21C9;
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: #CAC9FF;
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--Pale-blue);
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.result-sumary {
    height: 356px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px 50px 50px;
    border-radius: 0 0 32px 32px;
    background: linear-gradient( var(--Light-slate-blue) 30%, var(--Cobalt-blue));
}
.result-sumary h2 {
    font-size: 18px;
    color: var(--Light-lavender);
}
.content-result {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(var(--Violet-blue) 0%, var(--Light-royal-blue));
}
.content-result .number {
    font-size: 56px;
    color: var(--White);
    font-weight: 700;
}
.content-result .text {
    font-size: 16px;
    font-weight: 700;
    color: var(--Light-lavender);
}
.information-result h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--White);
}
.information-result p {
    font-size: 16px;
    color: var(--Light-lavender);
}

.summary {
    width: 100%;
    padding: 30px;
}
.summary h2 {
    font-size: 18px;
    color: var(--Dark-gray-blue);
}
.reaction,
.memory,
.verbal,
.visual {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 12px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.098);
    margin-top: 20px;
    margin-bottom: 16px;
}
.memory {
    background-color: hsl(39, 100%, 56%, 0.098) ;
    margin-top: 16px;
}
.verbal {
    background-color: hsl(166, 100%, 37%, 0.098);
    margin-top: 16px;
}
.visual {
    background-color: hsl(234, 85%, 45%, 0.098);
    margin-top: 16px;
    margin-bottom: 30px;
}

.text-reaction {
    color: var(--Light-red);
}
.text-memory {
    color: var(--Orangey-yellow);
}
.text-verbal {
    color: var(--Green-teal);
}
.text-visual {
    color: var(--Cobalt-blue);
}

img {
    width: 20px;
    height: 16px;
}

 .number {
    font-size: 16px;
    font-weight: 700;
    color: var(--Dark-gray-blue);
 }
 span {
    color: #9BA4B5;
 }

 button {
    height: 56px;
    width: 100%;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
 }
 button:hover {
     cursor: pointer;
    background: linear-gradient( var(--Light-slate-blue) 30%, var(--Cobalt-blue));
 }

 @media screen and (min-width: 700px) {
    main {
        flex-direction: row;
        justify-content: center;
    }
    .result-sumary {
        border-radius: 32px;
        width: 368px;
        height: 512px;
        z-index: 1;
    }
    .result-sumary h2 {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .content-result {
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
    }
    .content-result .number {
        font-size: 80px;
    }
    .summary {
        width: 389px;
        height: 512px;
        justify-content: center;
        background-color: var(--White);
        border-radius: 0 32px 32px 0;
        padding-left: 54px;
        margin-left: -25px;
    }
    .summary h2 {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .reaction,
    .memory,
    .verbal,
    .visual {
        margin-bottom: 22px;
    }

    button {
        margin-top: 30px;
    }
 }