:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.result {
    width: 100%;
    height: 320px;
    border-radius: 0 0 30px 30px;
    background-image: linear-gradient(var(--Light-slate-blue),var(--Cobalt-blue));
}
.result-title {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: var(--Pale-blue);
}
.result-content {
    width: 130px;
    height: 130px;
    margin: 24px auto;
    background-color: var(--Cobalt-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result-content-title {
    color: var(--White);
    font-size: 50px;
    font-weight: bold;
}
.result-content-text {
    color: var(--Pale-blue);
    font-size: 16px;
    font-weight: 500;
}

.information {
    text-align: center;
    padding: 0 50px;
    color: var(--Pale-blue);
    font-size: 18px;
}
.information h3 {
    padding-bottom: 12px;
}
.information p {
    font-size: 12px;
}

.summary {
    margin: auto 20px;
}
.summary-title {
    color: var(--Dark-gray-blue);
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.summary-text {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 12px;
}
.summary-text-title {
    padding-left: 12px;
    display: flex;
}
.summary-text-title img {
    padding-right: 5px;
}
.summary-text-content {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    color: gray;
}
.summary-text-content span {
    color: var(--Dark-gray-blue);
    font-weight: bold;
}
.summary-text.reaction {
    color: var(--Light-red);
    background-color:  hsl(0, 100%, 96%);
    border-radius: 10px;
}
.summary-text.memory {
    color: var(--Orangey-yellow);
    background-color: hsl(39, 100%, 96%);
    border-radius: 10px;
}
.summary-text.verbal {
    color: var(--Green-teal);
    background-color: hsl(166, 100%, 96%);
    border-radius: 10px;
}
.summary-text.visual {
    color: var(--Cobalt-blue);
    background-color: hsl(234, 85%, 96%);
    border-radius: 10px;
}

.button {
    display: flex;
    justify-content: center;
    padding: 15px;
}
button {
    width: 270px;
    height: 50px;
    color: var(--White);
    background-color: var(--Dark-gray-blue);
    border: none;
    border-radius: 50px;

}

@media screen and (min-width: 1024px) {

}

